<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css"
    integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
  <title>Dojo Survey Form </title>
</head>

<body>
  <h1 class="text-center mt-3 mb-3">Dojo Survey Form</h1>
  <form action="/users" method="POST">
    <div class="form-group">
      <label for="name">Your Name: </label>
      <input type="text" class="form-control" name="name">
    </div>
    <div class="form-group">
      <label for="age">Your Age: </label>
      <input type="number" class="form-control" name="age" min="0" max="130">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>

</html>